.dato{
  background-color: white;
  color: black;
}

.fondo{
  border: 20px solid;
  border-radius: 60px;
  border-color: white;
}

.enc0{
  height: 140px;
}

.enc1{
  background-color: rgb(34, 51, 146);
  color: white;
}

.enc2{
  background-color: black;
  color: white;
  font-size: 20
}

.trapezoid{
  position: relative;
  background: blue;
  margin-left: 50px;
  color: white;
}
.trapezoid:after{
  position: absolute;
  content: '';
  /*left: -50px;*/
  top: 0px;
  border-style: solid;
  border-color: blue transparent blue transparent;
  /*border-width: 100px 0px 0px 50px;*/
}
